* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f0f0f0;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  /* padding: 1rem; */
  margin: 3rem 8rem;
}

.pokemon-grid .pokemon-card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pokemon-grid .pokemon-card:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transform: translateY(-5px);
}

.pokemon-grid .pokemon-card .pokemon-card-image {
  background-color: #fafafa;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.pokemon-grid .pokemon-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon-grid .pokemon-card .pokemon-card-body {
  padding: 25px;
  height: 200px;
  border-radius: 0 0 15px 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
}

.pokemon-card-body h3 {
    font-size: 25px;
    color:#333;
    text-transform: capitalize;
}

.pokemon-card-body p {
  color: #7263f3;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.68;
}

